/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
  }
  
  /* Navbar styles */
  header {
    background-color: #f8f8f8;
    padding: 10px;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav-logo {
    font-weight: bold;
    font-size: 24px;
    color: #333;
    text-decoration: none;
  }
  
  .nav-menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-right: 10px;
  }
  
  .nav-item a {
    color: #333;
    text-decoration: none;
  }
  
  .nav-toggle {
    display: none;
  }
  
  /* Media queries for responsive design */
  @media screen and (max-width: 768px) {
    .nav-menu {
      display: none;
    }
  
    .nav-toggle {
      display: block;
      cursor: pointer;
    }
  
    .nav-toggle span {
      display: block;
      width: 25px;
      height: 3px;
      background-color: #333;
      margin-bottom: 5px;
    }
  }
  /*home*/
  body {
    background-color: rgb(189, 153, 219);
    margin: 0;
    text-align: center;
    
  }
  a {
    -webkit-tap-highlight-color: transparent;
  }
  a:focus,
  a:visited,
  a:active {
    outline: none;
  }
  hr {
    border-width: 9px 0 0 0;
  
    border-style: dotted;
    border-color: #060047;
    width: 5%;
  }
  h1 {
    width: 30%;
    margin: 0 auto 0 auto;
  }
  p {
    size: 20px;
    font-size: 20px;
  }
  .xyz{
    height:50px;
    padding: auto;
  }
  .topcontainer {
    background-color: #fde2f3;
    height: 450px;
  
    position: relative;
    padding-top: 80px;
  }
  .middlecontainer {
    text-align: left;
  
    background-color: #e5beec;
    height: 770px;
  
    padding: 10px;
  }
  .bottomcontainer {
    text-align: left;
    background-color: #917fb3;
    height: 500px;
    padding: 20px;
  }
  
  .gallery {
    margin: 5px;
    border: 1px solid;
    float: left;
    width: 20%;
    height: 100%;
  }
  .gallery :hover {
    border: 1px solid #060047;
  }
  .poor {
    width: 100%;
    height: 100%;
  }
  .gallery_box {
    width: 80%;
    justify-content: center;
    height: 30%;
  }

  .up_container {
    background-color: #fde2f3;
    text-align: center;
    position: relative;
  }
  .realslimshady {
   
    place-content: center;
    text-align: center;
  
    margin: 40px;
    padding: 40px;
    width: 70%;
    border-radius: 4px;
    background-color: #917fb374;
    justify-content: center;
    position: relative;
    margin-right: 50px;
  }